<<<<<<< HEAD
#name{
    margin-top: 10px;
    border: 1px solid;
    border-radius: 5px;
    height: 40px;
=======
#name{
    margin-top: 10px;
    border: 1px solid;
    border-radius: 5px;
    height: 40px;
>>>>>>> eb22e7daa35a667f97ae3f62b8d039b6b27bce46
}