<div class="container">
    <div class="row">
        <div class="col-md-6 card card-body bg-dark text-white mt-5 col-xm" style="text-align: justify">
                Library Management System is a software used to manages the catalog of a library.
                This helps to keep the records of whole transactions of the books available in the library.
                AmpleTrails provides Library Management System which is very easy to use and fulfills all the
                requirement of a librarian. There are many features which helps librarian to keep records of 
                available books as well as issued books. This software is available in both mode i.e. web-based
                or local host based.  We provide best Library Management System of this planet.
        </div>
        
        <div class="col-md-5 card card-body text-white offset-1 mt-5 col-xm">
            <img src="https://media.gettyimages.com/photos/books-on-bookshelves-picture-id925364372?s=612x612" width="400px" height="300px"/>
        </div>
    </div>
</div>



