<div class="col-md-8 float-left card card-body">
    <img src="{{laptop.imgUrl}}" alt="" style="height: 734px;">
    <h1>{{laptop.name}}</h1>

    <div>
        <h3 style="text-align: center">
            Model : 1945
        </h3>

        <h6>
            The Maruti Swift has 1 Diesel Engine and 1 Petrol Engine on offer. The Diesel engine is 1248 cc while the Petrol engine is 1197 cc. Depending upon the variant and fuel type the Swift has a mileage of 22.0 to 28.4 kmpl. 
            The Swift is a 5 seater Hatchback and has a length of 3840mm.
        </h6>
    </div>
</div>
