<div>
    <!-- <h2 align="center" *ngFor="let s of studentBeans"> Welcome {{s.sname}} </h2>  -->

    <!-- <h2 align="center"> Welcome {{studentBeans[0].sname}} </h2>  -->
    
</div>


<div class="card card-body">
    <h2 align="center" class="text-secondary" style="font-family: auto;"> Welcome {{ value }} </h2> 
   
    <img  src="https://cdn.pixabay.com/photo/2016/08/24/16/20/books-1617327_960_720.jpg">
</div>

<!-- <div class="container " *ngIf="studentBeans">
    <table class="table table-bordered mt-2 table-hover table-striped">
        <thead>
        <tr class="text-center">
            <th>Student Id</th>
            <th>Student Name</th>
            <th>Student Password</th>
            <th>Student Gender</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let student of studentBeans">
            <td>{{student.sid}}</td>
            <td>{{student.sname}}</td>
            <td>{{student.spassword}}</td>
            <td>{{student.sgender}}</td>
        </tr>
        </tbody>
    </table>
</div> -->
